<div class="admin">
	<h1>Edit Resource</h1>
	<div class="form-card">
	<%= render 'form' %>

	<!-- <%= link_to 'Show', @asset %> | -->
	</div>
	<%= link_to 'List', admin_resources_path, :class => 'glyphicon glyphicon-list back-btn' %>
</div>
