<div class="admin">
	<h1>New Resource</h1>
	<div class="form-card">
		<%= render 'form' %>

		<%= link_to 'index', admin_resources_path %>
	</div>
	<%= link_to 'List', admin_resources_path, :class => 'glyphicon glyphicon-list back-btn' %>
</div>
