.admin {
	
	background-color: #101010;
	text-align: center;
	overflow: hidden;
	font-size: .8em;
	padding-bottom: 6em;
	min-height: 100vh;
	
	footer {
		background-color: rgba(0,0,0,.8);
		border-top: 1px solid black;
		height: 6em;
		position: fixed;
		width: 100%;
		bottom: 0;
		text-align: left;
		
		a, a:visited {
			color: white;
			display: block;
			left: 0;
			font-size: 2em;
			line-height: 1.75em;
			color: white;
			word-spacing: 0;
			width: 90%;
			max-width: 900px;
			min-width: 600px;
			margin: 0 auto;
			text-decoration: none;
			
			&:hover {
				background: transparent none;
				color: #fff;
				text-shadow: 0 0 2px #fff;
			};
			
			&:before {
				font-size: 1.3em;
				margin-right: .25em;
			}
		}
	}
	
	.asset {
		background-color: #efefef;
		width: 90%;
		max-width: 900px;
		min-width: 600px;
		margin: 1em auto;
		text-align: left;
		box-shadow: 0 0 10px rgba(0,0,0,.4);
		position: relative;
	}
	
	.oid {
		position: absolute;
		top: .25em;
		right: .25em;
		font-size: 1.5em;
		color: #999;
	}
	
	.description {
		width: 70%;
		padding: .25em .5em;
	}
	
	ul {
		list-style-type: none;
		padding: 0 1em;
		font-size: 1.1em;
		
		li {
			margin: 0 0 .1em;
		}
	}
	
	label {
		margin: 0;
	}
	
	.use-metadata {
		float: left;
		width: 35%;
		overflow: hidden;
	}
	
	.file {
		float: right;
		width: 60%;
		border-left: 1px dotted #101010;
		padding-left: 5%;
	}
	
	.edit-actions {
		clear: both;
	}
	
	a, a:visited {
		color: #e24301;
		text-decoration: none;
	}
	
	a:hover {
		background-color: #e24301;
		color: white;
	}
	
	h1 {
		color: #efefef;
	}
	
	.edit-actions {
		
		position: relative;
		bottom: .25em;
		
		a {
			color: #101010;
			font-size: 2em;
			
			&:hover {
				background-color: inherit;
				text-decoration: none;
				color: #e24301;
			}
		}
		
		li {
			display: inline-block;
			margin: .5em .25em;
		}
	}
}