// Place all the styles related to the assets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "admin";



.form-card {
	text-align: left;
	width: 800px;
	font-size: 1.2em;
	background-color: #efefef;
	margin: 2em auto;
	padding: 1em 50px;
	overflow: hidden;
	position: relative;

	.back-btn {
		font-size: 1.9em;
		display: block;
		float: right;
		text-decoration: none;

		&:before {
			margin-right: .25em;
		}

		&:hover {
			background: transparent none;
			color: black!important
		}
	}
}