// Place all the styles related to the assets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "admin";



.form-card {
	text-align: left;
	width: 600px;
	font-size: 1.2em;
	background-color: #efefef;
	margin: 2em auto;
	padding: 1em 2%;
	overflow: hidden;
	position: relative;
	border: 10px solid rgba(0,0,0,.8);
	
	.form-group {
		margin-bottom: 1.2em;
	}
	
	.btn {
		background-color: #101010;
		color: #efefef;
	}
}	

html .back-btn {
	font-size: 1.9em;
	display: block;
	text-decoration: none!important;
	color: white!important;

	&:before {
		margin-right: .25em;
	}

	&:hover {
		background: transparent none;
		color: #666!important;
	}
}